@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* base styles */
body {
  /* background: #ebf0fa; */
  @apply text-gray-300 w-full m-0 p-0;
  padding: 0rem !important;
}

main {
  @apply max-w-6xl my-12 mx-auto px-8;
}

p {
  @apply text-lg font-light;
}

.pageHeading {
  @apply text-2xl outline outline-base-content p-3 text-center mb-8;
}

/* Tickets cards styles */
.ticketsCard {
  @apply card p-5 pb-7 w-full md:w-2/5 bg-slate-950 hover:bg-slate-800 outline outline-2 outline-slate-500 relative overflow-hidden ;
}

.ticketsCard h1 {
  @apply text-2xl font-medium mb-4 text-green-400;
}
.ticketsCard h1 span{
  @apply text-gray-300;
}

.ticketsCard h3 {
 @apply text-sm font-light mb-2;
}

/* Tickets details and page styles */
.ticketsDetails {
  @apply card p-5 pb-7 w-2/3 bg-slate-950 outline outline-1 outline-slate-500 mx-auto my-20 relative overflow-hidden;
}

.ticketsDetails h1 {
  @apply text-2xl font-medium mb-4 text-green-400;
}
.ticketsDetails h1 span{
  @apply text-gray-300;
}

.ticketsDetails h3 {
 @apply text-sm font-light mb-2;
}

.ticketBadge {
  @apply absolute right-0 bottom-0 rounded-tl-lg py-1 px-3 text-slate-900 text-sm opacity-80;
}

.ticketBadge.Low {
  @apply bg-success;
}

.ticketBadge.Medium {
  @apply bg-warning;
}

.ticketBadge.High {
  @apply bg-error;
}

/* Create ticket for styles */
.ticketForm {
  @apply w-full md:w-1/2 bg-slate-950 p-8 rounded-lg mx-auto mt-10;
}

.ticketGroup {
 @apply flex flex-col gap-2 mb-8;
}

.ticketGroup > label {
  @apply text-base font-light;
}

.ticketGroup > input {
  @apply outline outline-1 outline-slate-300 rounded-sm bg-transparent py-2 px-3;
}

.ticketGroup > textarea {
  @apply outline outline-1 outline-slate-300 rounded-sm bg-transparent p-3;
  min-height: 150px;
}

.ticketGroup > select {
  @apply outline outline-1 outline-slate-300 rounded-sm bg-transparent py-2 px-3;
}

/* Loading animation styles */
@keyframes loading-ui {
  0% {
    background-color: rgba(209,213,219, .8);
  }
  100% {
    background-color: rgba(209,213,219, .4);
  }
}

.ticketLoading {
  animation: loading-ui 400ms infinite alternate;
  width: 100%;
  height: 15px;
  margin: 14px 0;
  border-radius: .15rem;
}

.ticketLoading.smLoading {
  height: 10px;
}

.ticketLoading:nth-child(1) {
  width: 20%;
}

.ticketLoading:nth-child(2) {
  width: 35%;
}

.ticketLoading:last-child {
  width: 60%;
}

.footerSection {
  @apply w-2/3 text-center mx-auto;
}

.footerSection h1 {
  @apply text-3xl my-3;
}

.footerSection p {
  @apply font-extralight text-sm;
}
